# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.Generator.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\krisy\OneDrive\Documents\Generator\.idea\.idea.Generator.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
